name: Cronjob

concurrency:
  group: trigger-package-build

# Run every hour on the hour.
on:
  schedule:
    - cron: "0 * * * *"

jobs:
  build-popular-package:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.CRONJOB_DEPLOY_KEY }}
          persist-credentials: true

      - name: Trigger Package Build
        id: find_crate
        run: |
          set -euo pipefail

          python -m pip install -r scripts/requirements.txt

          python ./scripts/trigger-package-build.py
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CRATE_CHECK_LIMIT: 10
