name: Cronjob

# Run every hour on the hour.
on:
  schedule:
    - cron: "0 * * * *"

jobs:
  build-popular-package:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.CRONJOB_DEPLOY_KEY }}
          persist-credentials: true

      - name: Trigger Package Build
        id: find_crate
        run: |
          set -euo pipefail
          touch .env
          ./trigger-package-build.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
