name: Cronjob

concurrency:
  group: trigger-package-build

# Run every hour on the hour.
on:
  schedule:
    - cron: "0 * * * *"

jobs:
  build-popular-package:
    name: Build
    # This is because I want to use a vaguely modern python without having to install it.
    # Other actions will may use an older version of ubuntu in order to link an older glibc,
    # but this action won't be doing any building so it's fine.
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.CRONJOB_DEPLOY_KEY }}
          persist-credentials: true

      - uses: ./.github/actions/cronjob-setup

      - name: Trigger Package Build
        id: find_crate
        run: make trigger-all
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INFLUXDB_TOKEN: ${{ secrets.INFLUXDB_TOKEN }}
          CRATE_CHECK_LIMIT: 10
