name: Self-Build

on:
  pull_request:

jobs:
  self-build:
    name: Self-Build
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        include:
          - target_arch: x86_64-pc-windows-msvc
            os: windows-latest
          - target_arch: x86_64-apple-darwin
            os: macos-latest
          - target_arch: aarch64-apple-darwin
            os: macos-latest
          - target_arch: x86_64-unknown-linux-gnu
            os: ubuntu-20.04
          - target_arch: x86_64-unknown-linux-musl
            os: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Build Thyself
        env:
          TARGET_ARCH: ${{ matrix.target_arch }}
        run: |
          set -euxo pipefail
          touch .env
          VERSION="$(
            curl \
              --user-agent "cargo-quickinstall build pipeline (alsuren@gmail.com)" \
              --fail "https://crates.io/api/v1/crates/cargo-quickinstall" \
              | jq -r '.versions[0].num'
          )"
          VERSION="$VERSION" TARGET_ARCH="$TARGET_ARCH" ./build-version.sh cargo-quickinstall
          ALWAYS_BUILD=1 VERSION="$VERSION" TARGET_ARCH="$TARGET_ARCH" ./build-version.sh cargo-quickinstall
      - name: Install Thyself
        run: cargo install --path cargo-quickinstall
      - name: Install Thyself with Thyself (or fallback to sensei on windows)
        run: cargo quickinstall cargo-quickinstall || cargo quickinstall sensei
