# Coding format checker and test runner.
name: Automated tests

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Fetch source
        uses: actions/checkout@v6

      - name: Run shellcheck
        run: shellcheck *.sh

      - name: Cache shfmt compiled
        id: cache-shfmt
        uses: actions/cache@v4
        with:
          path: ~/go/bin/shfmt
          key: ${{ runner.os }}-shfmt-4.4.1
      
      - name: Install shfmt
        if: steps.cache-shfmt.outputs.cache-hit != 'true'
        run: go install mvdan.cc/sh/v3/cmd/shfmt@latest

      - name: Run shfmt
        run: ~/go/bin/shfmt --diff *.sh

      - name: Install latest rust
        run: rustup toolchain install stable --no-self-update --profile minimal --component clippy,rustfmt

      - name: Lint
        run: cargo fmt --check

  test:
    name: Test runner
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      # TODO: actions/cache@v2?
      - name: Fetch source
        uses: actions/checkout@v6

      - name: Fetch tags required for testing
        run: git fetch --tags

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
          workspaces: |
            . -> target
            stats-server -> target

      - name: Run cargo clippy for client project
        run: cargo clippy --all-targets --all-features --no-deps -- -D warnings

      - name: Run cargo clippy for stats-server project
        run: cargo clippy --all-targets --all-features --no-deps -- -D warnings
        working-directory: stats-server

      - name: Run cargo test
        run: cargo test

      - uses: ./.github/actions/cronjob-setup

      - name: Check python cronjob_scripts
        run: make check-cronjob-scripts

      - name: Test python cronjob_scripts
        run: make test-cronjob-scripts
        if: github.event_name != 'pull_request'
        env:
          INFLUXDB_TOKEN: ${{ secrets.INFLUXDB_TOKEN }}

  e2etest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
          - os: macos-latest
          - os: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Fetch source
        uses: actions/checkout@v6

      - name: Install latest rust
        run: rustup toolchain install stable --no-self-update --profile minimal
          
      - name: Test dry-run
        run: cargo run -- --dry-run cargo-quickinstall

      - name: Test installing and using binstall
        run: |
          set -euxo pipefail
          cargo run -- cargo-quickinstall
          cargo quickinstall -V
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Test using binstall with it already installed
        run: |
          set -euxo pipefail
          cargo run -- cargo-quickinstall
          cargo quickinstall -V

      - name: Test batch installation with binstall
        run: |
          set -euxo pipefail
          cargo run -- cargo-quickinstall cargo-update@18.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Try running the binary
        run: |
          cargo quickinstall -V
          cargo install-update -V

      - name: Test batch installation with binstall with force
        run: |
          set -euxo pipefail
          echo Rm all binaries installed but do not update manifests,
          echo so that binstall will think they are installed.
          rm $(which cargo-quickinstall) $(which cargo-update@18.0.0)
          cargo run -- --force cargo-quickinstall cargo-update@18.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Try running the binary
        run: |
          cargo quickinstall -V
          cargo install-update -V
      - name: Test batch installation with curl
        run: |
          set -euxo pipefail
          cargo run -- --no-binstall cargo-quickinstall cargo-update@18.0.0
          cargo quickinstall -V
          cargo install-update -V

  # Dummy job to have a stable name for the "all tests pass" requirement
  automated-tests-pass:
    name: automated tests pass
    needs:
      - test
      - e2etest
      - lint
    if: always() # always run even if dependencies fail
    runs-on: ubuntu-latest
    steps:
      # fail if ANY dependency has failed or cancelled
      - if: "contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')"
        run: exit 1
      - run: exit 0
