# Coding format checker and test runner.
name: Automated tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Fetch source
        uses: actions/checkout@v4

      - name: Run shellcheck
        run: shellcheck *.sh

      - name: Install shfmt
        run: go install mvdan.cc/sh/v3/cmd/shfmt@latest

      - name: Run shfmt
        run: ~/go/bin/shfmt --diff *.sh

      - name: Install latest rust
        run: rustup toolchain install stable --no-self-update --profile minimal --component clippy,rustfmt

      - name: Lint
        run: cargo fmt --check

      - name: Clippy
        run: cargo clippy --no-deps

  test:
    name: Test runner
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      # TODO: actions/cache@v2?
      - name: Fetch source
        uses: actions/checkout@v4

      - name: Fetch tags required for testing
        run: git fetch --tags

      - name: Run cargo clippy for client project
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Run cargo clippy for stats-server project
        run: (cd stats-server && cargo clippy --all-targets --all-features -- -D warnings)

      - name: Run cargo test
        run: cargo test

      - uses: ./.github/actions/cronjob-setup

      - name: Test python cronjob_scripts
        run: make test-cronjob-scripts
        env:
          INFLUXDB_TOKEN: ${{ secrets.INFLUXDB_TOKEN }}

  e2etest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
          - os: macos-latest
          - os: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Fetch source
        uses: actions/checkout@v4

      - name: Install latest rust
        run: rustup toolchain install stable --no-self-update --profile minimal

      - name: Test dry-run
        run: cargo run -- --dry-run cargo-quickinstall

      - name: Test installing and using binstall
        run: |
          set -euxo pipefail
          cargo run -- cargo-quickinstall
          cargo quickinstall -V
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Test using binstall with it already installed
        run: |
          set -euxo pipefail
          cargo run -- cargo-quickinstall
          cargo quickinstall -V

      - name: Test batch installation with binstall
        run: |
          set -euxo pipefail
          cargo run -- cargo-quickinstall cargo-nextest@0.9.50
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Try running the binary
        run: |
          cargo quickinstall -V
          cargo nextest -V

      - name: Test batch installation with binstall with force
        run: |
          set -euxo pipefail
          echo Rm all binaries installed but do not update manifests,
          echo so that binstall will think they are installed.
          rm $(which cargo-quickinstall) $(which cargo-nextest@0.9.50)
          cargo run -- --force cargo-quickinstall cargo-nextest@0.9.50
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Try running the binary
        run: |
          cargo quickinstall -V
          cargo nextest -V
      - name: Test batch installation with curl
        run: |
          set -euxo pipefail
          cargo run -- --no-binstall cargo-quickinstall cargo-nextest@0.9.50
          cargo quickinstall -V
          cargo nextest -V
