name: Weekly Recheck

concurrency:
  group: trigger-package-build

# Run every sunday, to recalculate excludes
on:
  schedule:
    - cron: "0 0 * * 0"
  push:
    branches:
      - actions

jobs:
  recheck:
    name: Recheck
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.CRONJOB_DEPLOY_KEY }}
          persist-credentials: true

      - name: recheck excludes for all archetectures
        id: find_crate
        run: make recheck
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INFLUXDB_TOKEN: ${{ secrets.INFLUXDB_TOKEN }}
